@model FilmTanitim.Models.Movie

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Film Güncelle</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieId" />
            <div class="form-group">
                Film Adı
                <input asp-for="MovieName" class="form-control" />
                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                Film Açıklaması
                <input asp-for="MovieDescription" class="form-control" />
                <span asp-validation-for="MovieDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                Film Resmi
                <input asp-for="MovieImage" class="form-control" />
                <span asp-validation-for="MovieImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                Kategori Adı
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-warning">Geri Dön</a>
            </div>
        </form>
    </div>
</div>