@model FilmTanitim.Models.Comment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Yorum Güncelle</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                Yorumun Ait Olduğu Film
                <select asp-for="MovieId" class="form-control" asp-items="ViewBag.MovieId"></select>
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                Yorum Başlığı
                <input asp-for="CommentTitle" class="form-control" />
                <span asp-validation-for="CommentTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                Yorum Açıklaması
                <input asp-for="CommentDescription" class="form-control" />
                <span asp-validation-for="CommentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">

                Puan Ver <br />
                <div style="float:left" id="rateYo"></div>
                <input type="hidden" asp-for="MovieRating" id="rating" value="" class="form-control" />
                <span asp-validation-for="MovieRating" class="text-danger"></span><br />
            </div>
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-warning">Geri Dön</a>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {

        $("#rateYo").rateYo({

            onSet: function (rating, rateYoInstance) {
                $('#rating').val(rating);
            }
        });
    });

</script>